/*Utility classes*/
.u-pad-24 {
    padding: 0 24px;
}

* {
    border: 0;
    margin: 0;
    padding: 0;

}

/*Header*/
header {
    background-color: #f8f8f8;
    border: 1px solid #000000;
    position: fixed;
    align-items: center;
    height: 64px;
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    align-items: center;
    list-style-type: none;
    width: auto;
}

a {
    display: flex;
    text-decoration: none;
    color: #4a4a4a;
}

#logo-text {
    text-transform: uppercase;
    font-size: 16px;
}

.icon {
    height: 32px;
}

.icon-text {
    display: none;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}


@media only screen and (min-width: 768px) {
    .icon {
        display: none;
    }
    .icon-text {
        display: inline-block;
    }
}

/*Banner*/


/*Articles*/


/*Start learning*/


/*Thesis exhibit*/


/*Footer*/