/*Utility classes*/
.u-pad-24 {
    padding: 0 24px;
}
.u-pad-16 {
    padding: 0 16px;
}

/*Basic settings*/

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #4a4a4a;
    font-family: Arial, sans-serif;
    width: 100%;
}

/*Header*/
header {
    background-color: #f8f8f8;
    position: fixed;
    display: flex;
    align-items: center;
    height: 64px;
    width: 100%;
    z-index: 2;
}

ul {
    display: flex;
    align-items: center;
    height: auto;
    justify-content: space-between;
    list-style-type: none;
}
a {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: #4a4a4a;
}

.logo-desktop {
    display: none;
}

.icon {
    display: flex;
    align-items: center;
    height: 32px;
}

.icon-text {
    display: none;
}


@media only screen and (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
    }
    nav {
        width: auto;
    }
    li {
        width: fit-content;
        padding: 0 8px;
    }
    .logo-desktop {
        display: flex;
        align-items: center;
        width: auto;
    }
    .icon {
        display: none;
    }
    .icon-text {
        display: flex;
        font-size: 16px;
        font-weight: 500;
    }
    #logo {
        height: 32px;
    }
    #logo-text {
        color: #4a4a4a;
        font-weight: 700;
    }
    #academy-light {
        color: #9b9b9b;
        font-weight: 400;
    }
}

main {
    display: flex;
    flex-direction: column;
}


/*Banner*/

.banner-container {
    background-color: #dbdbdb;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 64px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
}

#banner-img {
    width: 100%;
}

h1.banner {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 32px;
}

p.banner {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 24px;
}

.button {
    background-color: #9b9b9b;
    color: white;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    padding: 8px;
}

@media only screen and (min-width: 768px) {
    .banner-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 32px 24px;
        width: 100%;
    }
    #banner-img {
        width: 60%;
    }
    .button {
        background-color: #4a4a4a;
    }
}

/*Articles*/

.article-container {
    background-color: #f3f5f5;
    display: flex;
    align-items: center;
    padding: 16px;
    position: relative;
}

.article-main-desktop {
    display: none;
}

.article-small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .article-main-desktop {
        border-right: 2px solid #dbdbdb;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 32px 24px;
        width: 60%;
    }
    .article-small {
        display: flex;
        flex-direction: column;
        width: 40%;

    }
    .article-img {
        padding: 16px;
        width: 35%;
    }
    .article {
        border-bottom: 2px solid #dbdbdb;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 16px;
    }
}

/*Start learning*/


/*Thesis exhibit*/


/*Footer*/